//********************************************
// PRIMARY COLORS
//********************************************
$primary-color: #929ba0;
$primary-background-color: #fefbfc;

//*********************************************
// PRIMARY FONTS
//*********************************************
$primary-font-family: 'Raleway-Regular', 'Arial', sans-serif;

//*********************************************
// PRIMARY SIZES
// *********************************************
$primary-font-size: 15px;
$primary-line-height: 18px;

//********************************************
// HEADER COLORS
//********************************************
$header-color: #3f4244;
$header-color-hover: #00e1ff;
$header-color-mob: #ffffff;

//********************************************
// HEADER FONTS
//********************************************
$header-font-family: 'Raleway-Light', 'Arial', sans-serif;




//********************************************
// PORTFOLIO COLORS
//********************************************
$portfolio-color: #3f4244;


//*********************************************
// STATS FONTS
//*********************************************
$stats-font-family: 'Raleway-Light', 'Arial', sans-serif;
$stats-text-font-family: 'Raleway-Medium', 'Arial', sans-serif;

//********************************************
// STATS COLORS
//********************************************
$stats-color: #ffffff;

//********************************************
// FOOTER COLORS
//********************************************
$footer-background-color: #131316;
$footer-color: #ffffff;

//*********************************************
// FOOTER FONTS
//*********************************************
$footer-text-font-family: 'Raleway-Light', 'Arial', sans-serif;